this is blogs ---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blogs</title>
    </head>
    <body>
        <h1>Blogs</h1>
        <h2>... and my new Astro site with blog!</h2>
        
    </body>
</html>